.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2rem;
}

.promptBar_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem;
}

.promptBar {
    background-color: rgba(5, 5, 39, 0.396);
    width: 80%;
    font-family: monospace;
    color: white;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 1.3rem;
    padding: 5px 8px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.promptBar::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.promptBar:focus {
    color: white;
    background-color: rgba(5, 5, 39, 0.7);
}

.generate_btn {
    background: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(5, 5, 39, 0.585);
    backdrop-filter: blur(20px);
    font-weight: 600;
    padding: 8px 12px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.579);
    cursor: pointer;
    transition: all 0.2s;
}

.generate_btn:hover {
    transform: scale(1.03);
    background-color: rgba(5, 5, 39, 0.8);
}


.bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.cta_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    filter: var(--text-shadow);
}

.cta_img {
    width: 500px;
    height: auto;
    transform: scaleX(-1);
    margin-right: 4rem;
}

.cta_txt {
    font-size: 4rem;
    text-align: center;
    padding: 0 12rem;
}

.red_text {
    color: red;
    filter: drop-shadow(2px 2px 10px white);
    font-weight: 800;
}

.user_guide_txt {
    grid-column: span 2;
    font-weight: 600;
}

.images_container {
    height: 100%;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    vertical-align: center;
    margin-top: 3rem;
}

.prompt_img {
    width: 280px;
    height: auto;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.579);
    border-radius: 20px;
    margin: 0 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transition: all 0.3s;
    cursor: pointer;
}

.prompt_img:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.8);
}



@media screen and (max-width: 768px) {
    .promptBar_container {
        width: 90vw;
        padding: 0 1rem;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .promptBar {
        width: 100%;
        font-size: 1rem;
    }

    .generate_btn {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .text_container {
        margin-top: 1rem;
    }
    .user_guide_txt {
        margin-top: 1.5rem;
        font-size: 10px;
        font-weight: 600;
    }

    .cta_container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .cta_txt {
        font-size: 1.5rem;
        padding: 0;
        margin-top: 1.5rem;
    }

    .cta_img {
        width: 100%;
        margin-right: 4rem;
    }

    .images_container {
        grid-template-columns: 1fr 1fr;
    }

    .prompt_img {
        width: 150px;
        margin: 10px;
    }
}
