.mint_container {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    padding: 0 10rem;
    align-items: center;
}

.mint_nft_img {
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 2px 2px 15px black;
}

.mint_right_section {
    border-radius: 12px;
    border: 2px solid white;
    padding: 1rem 2rem;
    text-align: center;
}

.prompt {
    font-size: 1.5rem;
    filter: var(--text-shadow);
    color: white;
    font-weight: 800;
    
}

.mint_btn {
    background: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(5, 5, 39, 0.585);
    backdrop-filter: blur(20px);
    font-weight: 600;
    padding: 8px 12px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.579);
    cursor: pointer;
    transition: all 0.2s;
}

.mint_btn:hover {
    transform: scale(1.03);
    background-color: rgba(5, 5, 39, 0.8);
}

.no_mints {
    font-size: 4rem;
    color: red;
    filter: var(--text-shadow);
    vertical-align: center;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .no_mints {
        font-size: 2rem;
    }

    .mint_container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        padding: 0 1rem;
        margin-top: 5rem;
    }

    .mint_nft_img {
        width: 150px !important;
        height: auto;
    }

    .prompt{
        font-size: 0.8rem;
    }

    .mint_btn {
        font-size: 1rem;
        padding: 8px 12px;
    }
}